// colors
$body_bg: #ffffff;
$color_link: #3c4148;

$gray_light: #e5e5e5;
$gray: #eeeeee;
$gray_dark: #d1d1d1;
$gray_border: #dbddde;
$orange: #f29700;

// fonts
$font_1: "VAGRound", "Arial", sans-serif;
$font_2: "Roboto", "Arial", sans-serif;

// media
$mobile: 320px;
$mobile_full: 468px;
$tablet: 768px;
$desktop: 1024px;
$desktop_full: 1280px;
